[ req ]
prompt = no
distinguished_name = req_distinguished_name

[ req_distinguished_name ]
C            = County
ST           = State
L            = Locality
O            = Organization
OU           = Organizational Unit
CN           = ca.example.com
emailAddress = ca@example.com