[ req ]
prompt = no
distinguished_name = req_distinguished_name
req_extensions     = v3_req
x509_extensions    = v3_req

[ req_distinguished_name ]
C            = County
ST           = State
L            = Locality
O            = Organization
OU           = Organizational Unit
CN           = server.example.com
emailAddress = server@example.com

[ v3_req ]
subjectKeyIdentifier = hash
basicConstraints     = CA:false
subjectAltName       = DNS:localhost
keyUsage             = digitalSignature
extendedKeyUsage     = serverAuth